on:
  push:
    branches:
      - main

permissions:
  contents: write
  pull-requests: write

jobs:
  some-job:
    if: ${{ !contains(github.event.head_commit.message, '[versioning]')}}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          ssh-key: ${{ secrets.COMMIT_KEY }}
      - run: |
          echo $EPOCHSECONDS > version.txt
          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git add version.txt
          git commit -m "Bump version [versioning]"
          git push -u
