on:
  workflow_call:
    outputs:
      arr:
        value: ${{ jobs.some-job }}

jobs:
  some-job:
    runs-on: ubuntu-latest
    outputs:
      arr: ${{ steps.step1.outputs.arr }}
    steps:
      - uses: actions/checkout@v3
      - run: |
          echo "Hello world"
      - id: step1
        run: |
          arr="$(jq --compact-output --null-input '$ARGS.positional' --args -- $(git ls-remote))"
          echo "arr=$arr" >> $GITHUB_OUTPUT
